.page {
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: #353739;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.45;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.ourModal {
    background-color: #353739;
    opacity: 1;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    border-width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modalText {
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    align-content: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 3em 2em 0em 2em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    bottom: 10px;
    left: 20px;
    width: 100%;
}

.secondaryButton {
    background: transparent;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    margin: 2em 1em 1em 0.75em;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.primaryButton {
    background-color: white;
    border-radius: 5px;
    color: #353739;
    margin: 2em 2em 1em 0.75em;
    height: 40px;
    width: 90px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    font-size: 1em;
}