.proposalDetailsPage {
    --descriptionAndProgressBarsWidth: 87%;
    background: var(--lightGrey);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.proposalLeft{
    background-color: white; 
    /* background-color: blueviolet; */
    width: 35%;
    height: 90%;
    bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 40px 0px 40px;
}

.proposalSummary{
    /* background-color: brown; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.proposalSponsor{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--black);
    font-size: 1.5em;
}

.proposalAmount {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--black);
    margin: 0px 0px 5px 0px;
    font-size: 1.1em;
}

.proposalDeadline {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--black);
    margin: 5px;
    font-size: 1.1em;
}
    
.proposalTitle{
    background: red;
    width: 100%;
    font: 2em 'IBM Plex Sans', sans-serif;
    color: var(--black);
    margin: 20px 0px 20px 0px;
    /* text-decoration-line: underline; */

}

/* 
.proposalTitle:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-bottom: 2px solid var(--black);
    transition: width 0.3s ease;
} */

.underline {
    border-top: 2px solid var(--black);
    height: 4px;
    color: black;
    width: 75%;
}

.proposalConditional {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proposalDescription {
    color: var(--black);
    height: 100%;
    width: 100%;
    background: var(--mutedGreen);
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    word-wrap: break-word;
}

.proposalConditional {
    /* background-color: cadetblue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressBarsFrame {
    /* background-color: burlywood; */
    color: black;
    width: 100%;
}

.progressBarPercentVoted {
    margin-bottom: 6%;
}

.discussion{
    background-color: aqua;
    width: 60%;
    height: 90%;
    bottom: 10px;
    right: 10px;
    margin-right: 50px;
    color: var(--black);
}