.proposalDetailsPage {
    --descriptionAndProgressBarsWidth: 87%;
    background: var(--lightGrey);
    height: 89vh;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

textarea {
    resize: none;
  }

.proposalLeft{
    background: white; 
    width: 35%;
    height: 95%;
    bottom: 10px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 40px 0px 40px;
}

.proposalSummary {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nonVotingProposalSummary {
    height: 100%;
}

.proposalSponsor{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--black);
    font-size: 1.5em;
}

.proposalAmount {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--black);
    margin: 0px 0px 5px 0px;
    font-size: 1.1em;
}
    
.proposalTitle{
    width: 100%;
    font: 2em 'IBM Plex Sans', sans-serif;
    color: var(--black);
    margin: 20px 0px 20px 0px;
}

.proposalDetailsUnderline {
    border-top: 2px solid var(--black);
    height: 4px;
    color: black;
    width: 75%;
}

.NonVotingMemberConditionalContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.proposalDescription {
    background: var(--mutedGreen);
    color: var(--black);
    height: fit-content;
    min-height: 210px;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    text-justify: inter-word;
}

.nonVotingProposalDescription {
    min-height: 290px;
}

.amountVotedLabel {
    text-align: right;
    font-size: 0.85em;
    width: 100%;
}

.bg-customProgressBarUnvoted {
    background: #a7aaad!important;
}

.discussion{
    background-color: white;
    width: 60%;
    height: 95%;
    bottom: 10px;
    right: 10px;
    margin-right: 30px;
    color: var(--black);
    display: flex;
    flex-direction: column;
}

.discussionTitle {
    height: 13%;
    width: 100%;
    font: 2em 'IBM Plex Sans', sans-serif;
    color: var(--black);
    margin: 20px 0px 20px 0px;
}

.discussionCommentsView {
    background-color: rgb(252, 252, 252); 
    height: 75%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.discussionPostCommentFrame {
    display: flex;
    flex-direction: column;
    height: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.postCommentContainer {
    width: 100%;
}

.postCommentTopContainer {
    height: 65%;
}

.postCommentBottomContainer { 
    position: relative;
    height: 35%;
    margin-top: 5px;
}

.proposalConditional {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progressFrame {
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.leftButtonContainer {
    padding-left: 50px;
}

.rightButtonContainer {
    padding-right: 50px;
}

.progressBarYesNoUnvoted {
    margin-bottom: 10px;
    width: 100%;
}

.progressBarPercentVotedUnvoted {
    width: 100%;
    margin-bottom: 5px;
}

.UserInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentBoxHeader {
    margin-top:15px;
    padding-left: 4px;
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    color: var(--black);
    font-family: 'Lexend Deca', sans-serif;
}

.userInputDiscussion{
    background: var(--lightGrey);
    border: 1px solid var(--grey);
    border-radius: 4px;
    color: var(--black);
    font: 1em 'Lexend Deca', sans-serif;
    width: 100%;
    height: 50px;
}

.postCommentButtonContainer {
    position: absolute;
    right: 0px;
    top: 0px;
}

.yourVoteLabel {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    position: absolute;
    right: -30px;
    bottom: 1px;
}

.genericProposalButton {
    background-color: var(--buttonGreen);
    border-radius: 5px;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    border-width: 0px;
}

.genericProposalButton:active {
    background-color: var(--buttonGreenOpaque);
}

.adminButton {
    border-radius: 5px;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    width: 100px;
    height: 40px;
    border-width: 0px;
}
