.proposalDetailsPage {
    --descriptionAndProgressBarsWidth: 87%;
    background: var(--lightGrey);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.proposalLeft{
    background-color: white; 
    background-color: blueviolet;
    width: 35%;
    height: 90%;
    bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 40px 0px 40px;
}

.proposalSummary{
    background-color: brown;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.proposalSponsor{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--black);
    font-size: 1.5em;
}

.proposalAmount {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--black);
    margin: 0px 0px 5px 0px;
    font-size: 1.1em;
}

.proposalDeadline {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--black);
    margin: 5px;
    font-size: 1.1em;
}
    
.proposalTitle{
    background-color: red;
    width: 100%;
    font: 2em 'IBM Plex Sans', sans-serif;
    color: var(--black);
    margin: 20px 0px 20px 0px;
}

.underline {
    border-top: 2px solid var(--black);
    height: 4px;
    color: black;
    width: 75%;
}

.proposalConditional {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proposalDescription {
    background: var(--mutedGreen);
    color: var(--black);
    height: 100%;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    word-wrap: break-word;
}

.proposalConditional {
    background-color: cadetblue;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.amountVotedLabel {
    background-color: indianred;
    text-align: right;
    font-size: 0.85em;
}

.bg-customProgressBarUnvoted {
    background: #a7aaad!important;
}

.discussion{
    background-color: aqua;
    width: 60%;
    height: 90%;
    bottom: 10px;
    right: 10px;
    margin-right: 50px;
    color: var(--black);
}

.discussionTitle {
    background-color: red;
    width: 100%;
    font: 2em 'IBM Plex Sans', sans-serif;
    color: var(--black);
    margin: 20px 0px 20px 0px;
}

.adminToggleView {
    height: 100%;
    width: 100%;
}

.progressFrame {
    background-color: burlywood;
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
}

.switchFrame {
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.toggleLabels {
    background-color: red;
    display: flex;
    width: 150px;
    right: 100px;
    bottom: 3000px;
    color: var(--black);
    top: 40px;
}

.toggleLeft {
    text-align: left;
    font-size: 0.1em;
}

.toggleRight {
    text-align: right;
    font-size: 0.1em;
}

.toggleContainer {
    background-color: blue;
    position: relative;
    top: 0px;
    left: 10px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
 .propDetailsToggle { 
    position: relative;
    width: 100%;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mutedGreen);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
  }
  
  input:checked + .slider {
    background-color: var(--mutedGreen);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

.adminVotingButtonsFrame {
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.leftButtonContainer {
    background-color: forestgreen;
}

.rightButtonContainer {
    background-color: lightsalmon;
}
