.proposal-box {
    border-radius: 10px;
    border-width: 1.75px;
    margin: 1em;
    padding: 0.4em;
    background-color: #F3F3F3;
    border-color: #CECECE;
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    min-height: 2.5em;
    width: 90%;
}

.whole-row {
    display: flex;
    flex-direction: row;
    width: 97%;
}

.leftRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.proposal-box:hover{
    cursor: pointer;
}

.proposal-title {
    flex-direction: row;
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    font-size: max(1.25em, 0.75em);
}

.vote-status {
    display: flex;
    justify-content: center;
    width: 3em;
    height: 3em;
}

.proposalsCheckbox {
    background: purple;
    position: relative;
    width: 12px;
    margin: 5px;
}

img[src=""] {
    display: none;
}