.SearchBar {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: start;
    height: 5%;
    width: 97.5%;
    color: #757575;
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    border-width: 1.75px;
    border-color:#CECECE;
    border-style: solid;
    border-radius: 10px;
    margin: 0.5rem;
}

input.searchBar {
    width: 80%;
    height: 90%;
    margin-left: 2.5%;
    border: none;
}

input.searchBar:active {
    outline: none; 
    border: none; 
}

input:focus {
    outline: none; 
}

.searchImg {
    margin-left: 2.5%;
}