.members-page {
    width: 100%;
    min-height: 100%;
    height: 89vh;
    padding-top: 32px;
}

.membersHeader {
    min-height: 95px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3em;
    height: 2%;
    position: relative;
}

.editMembersIcon {
    position: absolute;
    margin-right: 2.3em;
    right: 0px;
    bottom: 0px;
    font-size: 0.5em;
}

.membersBottomContainer {
    height: 85%;
    display: flex;
    justify-content: center;
}

.membersTableContainer {
    width: 95%;
    padding: 1em;
    font-family: 'Lexend Deca', sans-serif;
    overflow-y: scroll;
    margin-bottom: 2.5%;
    margin-top: 16px;
}

.membersUnderline {
    border-top: 2px solid var(--black);
    height: 4px;
    color: black;
    width: 35%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.tableHeaderRow {
    color: #626262;
    border-bottom: 2px solid #CBC7C7;
}

#membersTable {
    border-top: 0px;
    width: 100%;
}

tbody {
    background-color: #F5F4F4;
}

td {
    padding-top: 1%;
    padding-bottom: 1%;
}