.members-page {
    width: 100%;
    min-height: 100%;
    height: 89vh;
    background-color: blueviolet;
}

.membersHeader {
    /* background-color: lightcoral; */
    min-height: 95px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3em;
    height: 15%;
    position: relative;
}

.editMembersIcon {
    background-color: lightcoral;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 0.5em;
}

.membersBottomContainer {
    background-color: lightgreen;
    height: 85%;
    display: flex;
    justify-content: center;
}

.membersTableContainer {
    background-color: bisque;
    width: 95%;
    font-family: 'Lexend Deca', sans-serif;
}

.membersUnderline {
    border-top: 2px solid var(--black);
    height: 4px;
    color: black;
    width: 35%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.tableHeaderRow {
    /* background-color: lightgrey; */
    color: #626262;
}

#membersTable {
    background-color: lightcyan;
    border-top: 0px;
    width: 100%;
    /* height: 100%; */
}

tbody {
    background-color: khaki;
    border: 1px solid black;
    border-radius: 10px;
    /* border-collapse: separate;
    border-spacing: 0px 20px; */
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}