.proposalManagement {
    display: flex;
    background: var(--lightGrey);
    min-height: 100vh;
    height: 80%;
    align-content: flex-wrap;
}

.proposalManagementLeft{
    margin-left: 2em;
    margin-top: 2em;
    width: 30%;
    height: 100%;
}

.proposalManagementRight {
    width: 70%;
    padding: 50px;
    display: flex;

}

.proposalManagementHead{
    margin-bottom: 2%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

.PMtextboxes{
    width: 100%;
    height: 10%;
}

.titleNewProposal{
    width : 100%;
    height:100%;
}

.descriptionNewProposal{
    height: 70%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bottomThree{
    display: flex;
    width:100%;
    height: 10%;
}

.linkNewDescription{
    height:100%;
    width: 40%;
    margin-right:3%;
}

.moneyNewDescription{
    height:100%;
    width: 15%;
    margin-right: 32%;

}

.whiteBox {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items:center;
    padding: 3%;
    
}

textarea {
    resize: none;
    padding: 5px;
  }




.createProposalButton {
    background: var(--darkGrey);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    color: white;
    width: 15%;
}

.PMtextboxes:focus {
    outline: none;
    resize: none;
}

.bottomThree:focus {
    outline: none;
    resize: none;
}

.enterDeletingIconContainer {
    position: absolute;
    /* right: 50px; */
    /* bottom: 0px; */
    width: 20%;
    right: 5px;
    top: 45px;
    font-size: 0em;
    z-index: 2;
}

.exitDeletingIconContainer {
    position: absolute;
    width: 20%;
    right: 5px;
    top: 45px;
    font-size: 0em;
    z-index: 2;
}

.removeProposalsButton {
    position: absolute;
    width: 3em;
    height: 3em;
    left: 5px;
    top: 45px;
    z-index: 2;
}

.proposalsButton:focus {
    outline: 0;
}

.hide {
    display: none;
}

textarea{
    border-radius: 12px;
}

textarea:focus {
    outline:none;
}